# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Local config / secrets
.local/
.env
*.local
lib/config/breez_api_key.local.dart
lib/config/vtu_config.local.dart

# Android
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.podspec

# Mac junk
.DS_Store

# VS Code
.vscode/settings.json

.config/
