<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAY3_2bL1a9NbVBxJh4MFBvMJIryxkOjIM</string>
	<key>GCM_SENDER_ID</key>
	<string>277897510908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabi.app</string>
	<key>PROJECT_ID</key>
	<string>sabi-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>sabi-wallet.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277897510908:ios:991784392d0aa8b0b73c79</string>
</dict>
</plist>